#main-div{
    margin-top: 100px;
}

.meeting-card{
    cursor: pointer;
    padding: 2%;
    margin: 2%;
    box-shadow: 1px 2px 10px #000000;
    background: rgba(255,255,255,0.5);
}

.img-thumbnail{
    height: 40px;
    width: 40px;
}